HEMIS_TOKEN = 

# OneID Login va Paroli
LOGIN_VALUE = 
PASSWORD_VALUE = 
# Billing.EDU.UZ Login va Paroli
BILLING_LOGIN_VALUE = 
BILLING_PASSWORD_VALUE =
# Billing.NEXTEDU.UZ Login va Paroli
BILLING_N_LOGIN_VALUE = 
BILLING_N_PASSWORD_VALUE = 