.env
exam_report.xlsx
order_students.xlsx
simple_order_students.xlsx
qoshilmagan_talabalar.xlsx
checkbox_belgilanmaganlar.xlsx
not_found_students.xlsx
rejected_contracts.xlsx
shartnoma_natijalari.xlsx
shartnoma_xatoliklar.xlsx
shartnoma_yaratish_natijalari.xlsx
create_billing_contracts.xlsx
kk_order_students.xlsx
personal_sheet_grades.xlsx
not_found_personal_sheet_grades.xlsx
personal_sheets.xlsx
ptt_muvaffaqiyatsiz_talabalar.xlsx